///////////////////////////////////////////////////////////////////////////
// COLORS
///////////////////////////////////////////////////////////////////////////

$primary: #BD1B2F !default;
$secondary: #2B2C48 !default;

///////////////////////////////////////////////////////////////////////////
// FONT OPTIONS
///////////////////////////////////////////////////////////////////////////

$font-primary: 'Roboto' sans-serif;

@font-face {
	font-family: 'Roboto';
	font-display: 'swap';
	src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
}
