{###########################################################################
## LIST ALL MANY TO MANY CATEGORIES IN LISTING
###########################################################################}

{% for category in listing.categories.all %}
	<span>{{ category }}</span>
{% endfor %}

{###########################################################################
## CHECK CHILD OBJECTS FOR PROPERTY
###########################################################################}

{% for content in page.page_content.all %}
	{% ifequal content.name 'Homepage Banner' %}
		<h1>{{content.heading}}</h1>
	{% endifequal %}
{% endfor %}
